.ComicsCollection {
  .Search {
    padding: 16px 0;
    background-color:red;

    .Logo {
      margin-bottom: 8px;
    }

    input {
      width: 80%;
      padding: 8px 8px;
      font-size: 2em;
    }
  }

  .Comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Navigation {
    margin: 32px 64px;
    display: flex;
    justify-content: space-between;

    div {
      cursor: pointer;
      padding: 8px 16px 8px 16px;
      margin: 16px 16px;
      background-color: white;
      color: red;
      font-weight: bold;
    }
  }
}
